html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-align: center;
  flex-direction: column;
  display: inline-flex;
  align-items: center;
}
//////////////////////////////////////////////////Home page
.sectionHomeContainer{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  align-content: center;
}

.container{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.company-name {
  z-index: 10;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  width: 100%;
  font-size: 4vh;
  text-transform: uppercase;
  color: #fff;
  opacity: .8;
  letter-spacing: .10em;
  margin-top: 25%;
  transition: all .5s;
}
.hero-name {
  z-index: 10;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 8vh;
  text-transform: uppercase;
  color: #fff;
  opacity: .8;
  letter-spacing: .10em;
  transition: all .5s;
  padding-top: 10px;
}

.sub-name {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
.script-type{
  z-index: 10;
  font-family: 'Dancing Script', cursive;
  font-weight: 100;
  font-weight: bold;
  font-size: 8vh;
  color: #fff;
  opacity: .8;
  letter-spacing: .10em;
  margin-right: 5%;
  transition: all .5s;
}

.date-type {
  z-index: 10;
  font-family: helvetica,sans-serif;
  font-weight: 100;
  font-size: 8vh;
  color: #fff;
  opacity: .8;
  letter-spacing: .10em;
  transition: all .5s;
}

.down-arrow {
  z-index: 10;
  width: 100%;
  margin-top: 30vh;
}

.home-bg{
  z-index: 5;
  background:url(imgs/circle-visual-bg.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 600px){
  .hero-name {
    font-size: 6vh;
    transition: all .5s;
  }
  .company-name {
    font-size: 2.5vh;
    transition: all .5s;
  }
  .script-type{
    font-size: 4vh;
    transition: all .5s;
  }
  .date-type {
    font-size: 4vh;
    transition: all .5s;
  }
}
