doctype html
html
  head
    meta(name='viewport', content='width=device-width', initial-scale=1)
         
    meta(charset='uft-8')
         
    title Circle Visual
         
    link(href="https:////fonts.googleapis.com/css?family=Raleway:200,300,400,800", rel='stylesheet', type='text/css')
    link(href="https://fonts.googleapis.com/css?family=Dancing+Script", rel='stylesheet', type='text/css')
         
    link(rel='stylesheet', href='styles.css')
    
  body
    .menu
      a.menu-link(href='#')
        span.hamburger-icon
          span.hamburger-bar.hamburger-bar-1
          span.hamburger-bar.hamburger-bar-2
          span.hamburger-bar.hamburger-bar-3
    nav.mobile-nav.is-closed
      a.mobile-nav-item(href='#aboutSection') ABOUT
      a.mobile-nav-item(href='#clientSection') CLIENTS
      a.mobile-nav-item(href='#workSection') WORK
      a.mobile-nav-item(href='#contactSection') CONTACT
    nav.nav-links
      a.logo(href='#homeSection')
        img(src='imgs/cv-logo.svg')
      a.nav-item(href='#aboutSection') ABOUT
      a.nav-item(href='#clientSection') CLIENTS
      a.nav-item(href='#workSection') WORK
      a.nav-item(href='#contactSection') CONTACT
    #homeSection.sectionHomeContainer
      .container
        .company-name circle visual
        .hero-name custom solutions
        .sub-name
          .script-type since
          .date-type 1958
        a.down-arrow(href='#aboutSection')
          img(src='imgs/down-arrow.svg')
        .home-bg
    #aboutSection.sectionAboutContainer
      .about 
        h1 Quality starts here
        .about-column
          .user-icon
          .about-headline About Us</em>
          .about-type We aim to help create your dream vision for displaying your merchandise in the most unique, captivating and profitable way.
        .about-column
          .work-icon
          .about-headline What We Do</em>
          .about-type At Circle Visual, no job is too big or too small, and we approach each one with the same combination of efficiency and care. Whether it is one-of-a-kind or high volume, we craft each order meticulously and believe everything is scalable.
        .about-column
          .world-icon
          .about-headline <em>Who We Help</em>
          .about-type We work diligently to provide exceptional customer service and stunning displays for all sorts of businesses, both large and small.
    #clientSection.sectionClientContainer
      .clients 
        h1 Our Clients
      .business-containter
        .business-logos
          img(src='imgs/american-girl-logo.svg')
        .business-logos
          img(src='imgs/baccarat-logo.svg')
        .business-logos
          img(src='imgs/barneys-new-york-logo.svg')
        .business-logos
          img(src='imgs/bebe-logo.svg')
        .business-logos
          img(src='imgs/chicos-logo.svg')
        .business-logos
          img(src='imgs/christies-logo.svg')
        .business-logos
          img(src='imgs/club-monaco-logo.svg')
        .business-logos
          img(src='imgs/coach-logo.svg')
        .business-logos
          img(src='imgs/david-yurman-logo.svg')
        .business-logos
          img(src='imgs/dkny-logo.svg')
        .business-logos
          img(src='imgs/express-logo.svg')
        .business-logos
          img(src='imgs/harry-winston-logo.svg')
        .business-logos
          img(src='imgs/henri-bendel-logo.svg')
        .business-logos
          img(src='imgs/intermix-logo.svg')
        .business-logos
          img(src='imgs/jcrew-logo.svg')
        .business-logos
          img(src='imgs/kate-spade-wordmark-logo.svg')
        .business-logos
          img(src='imgs/michael-kors-logo.svg')
        .business-logos
          img(src='imgs/nine-west-logo.svg')
        .business-logos
          img(src='imgs/rag-and-bone-logo.svg')
        .business-logos
          img(src='imgs/ralph-lauren-logo.svg')
        .business-logos
          img(src='imgs/sam-edelman-logo.svg')
        .business-logos
          img(src='imgs/soma-logo.svg')
        .business-logos
          img(src='imgs/tommy-hilfiger-tailored-logo.svg')
        .business-logos
          img(src='imgs/victorias-secret-logo.svg')
        .business-logos
          img(src='imgs/vinyard-wines-logo.svg')
            
    #workSection.sectionWorkContainer
      .work 
        h1 Our Work
      .work-containter
        .work-imgs
          img(src='imgs/cv-express.jpg')
        .work-imgs
          img(src='imgs/cv-vs-multi-way.jpg')
        .work-imgs
          img(src='imgs/cv-vs-holiday.jpg')
        .work-imgs
          img(src='imgs/cv-vs-very-sexy.jpg')
        .work-imgs
          img(src='imgs/cv-ralph-lauren-store-front-two.jpg')
        .work-imgs
          img(src='imgs/cv-ralph-lauren-store-front-one.jpg')
        .work-imgs
          img(src='imgs/cv-rag-bone.jpg')
        .work-imgs
          img(src='imgs/cv-seat-cushions.jpg')
        .work-imgs
          img(src='imgs/cv-dinner-table.jpg')
        .work-imgs
          img(src='imgs/cv-cieling-rope.jpg')
        .work-imgs
          img(src='imgs/cv-concert.jpg')
        .work-imgs
          img(src='imgs/cv-living-room.jpg')
    #contactSection.sectionContactContainer
      .contact 
        h1 Contact Us
      .contact-containter
        .contact-headline New Jersey
        .contact-address 340 13th Street, Carlstadt, NJ 07072 <br> P: (212) 719-5153 F: (212) 704-0918
        .contact-headline Or Email
        .contact-address oballoveras@circlevisual.com
      .footer-containter
        .link-containter
          a.footer-link(href='#aboutSection') About
          a.footer-link(href='#clientSection') Clients
          a.footer-link(href='#workSection') Work
          a.footer-link(href='#contactSection') Contact
          a.footer-link(href='') Careers
        a.footer-bottom @ 2017 CIRCLE VISUAL Corporation. All Rights Reserved.         
       
    script(type='text/javascript', src='js/jquery-3.2.1.min.js')
    script(type='text/javascript', src='js/scripts.js')
